.config/pulse/cookie
.config/mpd/log
.config/mpd/mpd.db
.config/mpd/mpdstate
.config/mpd/mpd.pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/mpd.log
*\#
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/buffers/
.emacs.d/dirvish/
.emacs.d/eln-cache/
.emacs.d/history
.emacs.d/image-dired/
.emacs.d/nov-places
.emacs.d/nov-places/
.emacs.d/old.init.el
.emacs.d/org-roam.db
.emacs.d/pdf-view-restore
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/feed.org
.emacs.d/eshell/
.emacs.d/.init.el~undo-tree~
.emacs.d/url/
.emacs.d/transient/
.emacs.d/tree-sitter/
.emacs.d/straight/
.emacs.d/elpa/