ac-comphist.dat
auto-save-list/
bookmarksbuffers/
dirvish/
eln-cache/
history
image-dired/
nov-places
old.init.el
org-roam.db
pdf-view-restore
places
projectile-bookmarks.eld
recentf
feed.org
eshell/
.init.el~undo-tree~
url/
transient/
tree-sitter/
straight/
elpa/